#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  width: 100vw;
  padding: 2rem;
  text-align: center;
  background-color: #fff9f4;
}

.headerContainer {
  display: flex;
  justify-content: center;
}

.exportButton {
  margin-left: 20px;
}
